@import '../../styles/base';

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.fixedWrapper {
  position: fixed;
  right: 0;
  margin-top: 0;
  margin-left: 0;
  height: 100%;
  min-height: 100%;
  overflow-y: scroll;
  z-index: 10;
  &::-webkit-scrollbar { width: 0 !important }
}

.contentWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
  min-height: 100%;
  width: 100%;
  overflow: auto;
  .stub {
    visibility: hidden;
    opacity: 0;
    flex: none;
  }
  .content {
    box-sizing: border-box;
    min-height: 100%;
    background: $cBackground;
    flex-grow: 1;
  }
}