@import '../../styles/base';

.wrapper {
  background: $cADarkPurple;
  @extend %type--tiny;
  color: rgba(255,255,255,0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 8px;
  height: 100%;
  width: 100px;
  box-sizing: border-box;
}

.itemWrapper {
  height: 70px;
  align-self: flex-start;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  padding: $space / 2;
  cursor: pointer;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 13px;
  position: relative;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  transition: all 0.3s;
  &:hover {
    background: darken($cADarkPurple, 5%);
  }
  &:active {
    background: darken($cADarkPurple, 10%);
  }
  .icon {
    margin-bottom: 5px;
  }
  .label {
    line-height: 20px;
  }
}

.itemWrapperSelected {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  background-color: $cALightPurple;
}