@import '../../styles/base';

.wrapper,
.groupWrapper {
  width: 180px;
}

.wrapper {
  font-family: $fontStack;
  background: $cGray600;
  height: 100%;
  box-sizing: border-box;

  a {
    color: $cBlack20;
    text-decoration: none;
  }
}

.top,
.input {
  font-size: 14px;
  color: $cGray20;
  font-weight: bold;
}

.top {
  box-sizing: border-box;
  background-color: $cPurple50;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  &:hover,
  &:focus {
    color: $cGray40;
  }
  &:active {
    color: $cGray20;
  }

  &.fullWidth {
    width: 100vw;
  }
}

.sidebarContent {
  height: 100%;
  box-sizing: border-box;
  border-right: 1px solid $cBorder;
  padding: 20px 0 50px 0;

  &:focus {
    outline: none;
  }
}

.groupWrapper {
  box-sizing: border-box;
  padding: 0 10px 0 0px;
  margin-bottom: 12px;
  font-size: 14px;
  position: relative;
  transition: all 0.1s;
  box-sizing: border-box;
  color: $cBlack30;
  cursor: pointer;
}

.groupSubItems {
  margin-top: 2px;
}

.itemWrapper {
  box-sizing: border-box;
  padding: 6px 0px 6px 40px;
  font-size: 13px;
  position: relative;
  transition: all 0.1s;
  color: $cBlack20;
  box-sizing: border-box;
  display: block;
  &.selected,
  &.selected a {
    color: $cPurple30;
    &:hover {
      color: $cPurple30;
    }
  }
  &:hover,
  &:focus,
  a:hover {
    color: $cBlack40;
  }
  &:active,
  a:active {
    color: $cBlack50;
  }
}

.iconAndLabelContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  .iconWrapper {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 1px;
  }

  .topText {
    color: $cGray20;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 20px;
  }

  .groupLabelWrapper {
    color: $cPurple50;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 20px;

    > * {
      color: $cPurple50;
    }
  }
}

.iconAndLabelContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.tag {
  position: absolute;
  right: 0;
  top: 5px;
  background-color: $cPurple30;
  color: $cGray20;
  font-size: 11px;
  padding: 3px 5px;
  border-radius: 2px;
  pointer-events: none;
}

.darkBg {
  background: fade-out(#000, 0.9);
}

.input {
  font-family: $fontStack;
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 0px;

  &:focus {
    outline: none;
    color: $cGray20;
  }

  &::-webkit-input-placeholder,
  &::placeholder,
  &[placeholder] {
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.fullWidth .input {
  width: 80vw;
}
