@import '../../styles/base';

.wrapper, .groupWrapper {
  width: 180px;
}

.wrapper {
  font-family: $fontStack;
  background: $cGray600;
  padding: 8px 0;
  height: 100%;
  box-sizing: border-box;
}

.groupWrapper {
  box-sizing: border-box;
  padding: 0 10px 0 30px;
  margin-bottom: 10px;
  font-size: 13px;
  position: relative;
  transition: all 0.1s;
  box-sizing: border-box;
  color: $cBlack30;
  cursor: pointer;
  .icon {
    margin-right: 15px;
  }

  .groupLabel {
    font-weight: bold;
    padding-bottom: 5px;
    &:hover, &:focus {
      color: $cBlack70;
    }
  }

  .groupSubItems {

  }
}

.itemWrapper {
  box-sizing: border-box;
  padding: 4px 0px;
  font-size: 13px;
  position: relative;
  transition: all 0.1s;
  color: $cBlack30;
  box-sizing: border-box;

  &:hover, &:focus {
    color: $cBlack70;
  }

  &:active {
    color: $cBlue70;
  }
}

.iconAndLabelContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.darkBg {
  background: fade-out(#000, 0.9);
}

.selected {
  color: $cBlue70;
}
