@import '../../styles/base';

.wrapper, .groupWrapper {
  width: 180px;
}

.wrapper {
  font-family: $fontStack;
  background: $cGray600;
  height: 100%;
  box-sizing: border-box;

  a {
    color: $cBlack20;
    text-decoration: none;
  }
}

.top {
  font-size: 14px;
  box-sizing: border-box;
  background-color: $cPurple50;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $cGray20;
  cursor: pointer;
  &:hover, &:focus {
    color: $cGray40;
  }
  &:active {
    color: $cGray20;
  }
}

.sidebarContent {
  height: 100%;
  box-sizing: border-box;
  border-right: 1px solid $cBorder;
  padding: 70px 0 50px 0;
}

.groupWrapper {
  box-sizing: border-box;
  padding: 0 10px 0 0px;
  margin-bottom: 12px;
  font-size: 14px;
  position: relative;
  transition: all 0.1s;
  box-sizing: border-box;
  color: $cBlack30;
  cursor: pointer;
}

.groupSubItems {
  margin-top: 2px;
}

.itemWrapper {
  box-sizing: border-box;
  padding: 6px 0px 6px 40px;
  font-size: 13px;
  position: relative;
  transition: all 0.1s;
  color: $cBlack20;
  box-sizing: border-box;
  display: block;
  &.selected, &.selected a {
    color: $cPurple30;
    &:hover {
      color: $cPurple30;
    }
  }
  &:hover, &:focus, a:hover {
    color: $cBlack40;
  }
  &:active, a:active {
    color: $cBlack50;
  }
}

.iconAndLabelContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  .iconWrapper {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 1px;
  }
  .groupLabelWrapper {
    color: $cPurple50;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 20px;
    &.topText {
      color: $cGray20;
    }
  }
}

.iconAndLabelContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.tag {
  position: absolute;
  right: 0;
  top: 3px;
  background-color: $cPurple30;
  color: $cGray20;
  font-size: 11px;
  padding: 3px 5px;
  border-radius: 2px;
  pointer-events: none;
}

.darkBg {
  background: fade-out(#000, 0.9);
}
