@import '../../styles/base';

.selectClockIcon {
  text-align: center;
  vertical-align: middle;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj48cGF0aCBmaWxsPSIjQzFDMUMyIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZT0iI0MxQzFDMiIgc3Ryb2tlLXdpZHRoPSIuNSIgZD0iTTEwIDIuMTI1YTcuODc1IDcuODc1IDAgMSAwIDAgMTUuNzUgNy44NzUgNy44NzUgMCAwIDAgMC0xNS43NXpNMSAxMGE5IDkgMCAxIDEgMTggMCA5IDkgMCAwIDEtMTggMHptOSAwaDQuODc1djEuMTI0aC02di02SDEwVjEweiIvPjwvc3ZnPg==');
  background-repeat: no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
}

:global {
  :local(.selectInput) {
    @extend %type--body;
    width: 8.125rem;
    font-size: 13px;
    color: $cBlack50;

    &.is-disabled > .Select-control {
      @extend %input--wrapper--disabled;

      background: $cWhite;
      color: $cGray400;
    }

    .Select-control {
      @extend %input--wrapper;

      &:hover {
        @extend %input--wrapper--hover;
      }
    }

    .Select-placeholder {
      padding-left: 2.0625rem;
      text-align: center;
      line-height: 2.5rem;
      color: $cBlack50;
    }

    .Select-value-label {
      padding-left: 2.0625rem;
      line-height: 2.5rem !important;
    }

    .Select-input {
      padding-left: 0;
      padding-right: 0;
    }

    .Select-option.is-focused {
      background-color: $cGray30;
    }

    .Select-arrow-zone {
      display: inline-block;
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      line-height: 2.3125rem;
    }

    .Select-option {
      text-align: center;
    }

    &.Select.has-value.Select--single.is-disabled > .Select-control .Select-value .Select-value-label {
      color: $cGray400;
    }

    &.is-focused:not(.is-open) > .Select-control {
      @extend %input--wrapper--focus;
    }
  }

  :local(.selectInput.selectInputError) {
    .Select-control {
      @extend %input--wrapper--error;

      &:hover {
        @extend %input--wrapper--error;
      }
    }

    &.is-focused:not(.is-open) > .Select-control {
      @extend %input--wrapper--error;
    }
  }

  :local(.selectInput.transparentBackground) {
    &.is-focused:not(.is-open) > .Select-control {
      border-color: transparent;
      box-shadow: none;
    }

    .Select-control {
      @extend %input--wrapper;

      border-color: transparent;

      &:hover {
        border-color: transparent;
        box-shadow: none;
      }
    }
  }
}
