// TODO(grozki): Disabling this rule because it breaks with either solution tried. Should be attempted again later,
//  maybe a better solution exists.
// stylelint-disable no-descending-specificity
@import '../../styles/base';
@import '../../styles/colors';

// These are here just to shut ESLint up.
/* stylelint-disable block-no-empty */
.borderless {
}

.selectInput {
}

.selectInputError {
}
/* stylelint-enable block-no-empty */

.selectClockIcon {
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj48cGF0aCBmaWxsPSIjQzFDMUMyIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZT0iI0MxQzFDMiIgc3Ryb2tlLXdpZHRoPSIuNSIgZD0iTTEwIDIuMTI1YTcuODc1IDcuODc1IDAgMSAwIDAgMTUuNzUgNy44NzUgNy44NzUgMCAwIDAgMC0xNS43NXpNMSAxMGE5IDkgMCAxIDEgMTggMCA5IDkgMCAwIDEtMTggMHptOSAwaDQuODc1djEuMTI0aC02di02SDEwVjEweiIvPjwvc3ZnPg==')
  transparent no-repeat center center;
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 0.5rem;
}

:global {
  :local(.selectInput) {
    width: 7.5rem;
    font-size: 13px;
    color: $cBlack50;

    .time-picker__single-value {
      color: currentColor;
    }

    .time-picker__placeholder {
      color: $cGray400;
    }

    .time-picker__indicators {
      order: 0;
    }

    .time-picker__value-container {
      order: 1;
      padding: 0;
    }

    .time-picker__control {
      border: 1px solid $cGray300;
      border-radius: 2px;
      box-sizing: border-box;
      display: flex;
      flex-grow: 1;
      flex-direction: row;
      font-size: 13px;
      height: 40px;
      justify-content: flex-start;
      outline: none;
      padding: 0;
      text-rendering: geometricPrecision;
      width: 100%;

      &:hover {
        border-color: $cGray200;
      }
    }

    .time-picker__control.time-picker__control--is-focused {
      border-color: $cGray200;
      box-shadow: 0 0 4px 1px $cGray300;
    }

    .time-picker__control.time-picker__control--is-disabled {
      background: white;
      border-color: $cGray400;
      color: $cGray400;
      cursor: not-allowed;

      &:hover {
        border-color: $cGray400;
      }

      .time-picker__placeholder {
        color: currentColor;
      }

      :local(.selectClockIcon) {
        opacity: 0.5;
      }
    }

    .time-picker__option {
      text-align: center;
      color: $cBlack50;

      &:active {
        background-color: $cGray400;
      }

      &--is-focused {
        background-color: $cGray600;
      }

      &--is-selected {
        background-color: $cGray600;
        color: currentColor;
      }
    }

    .time-picker__menu {
      margin-top: 0;
      border-radius: 0 0 2px 2px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    }
  }

  :local(.selectInput.selectInputError) {
    .time-picker__control {
      border-color: $cWarningRed;

      &:hover {
        border-color: $cWarningRed;
      }
    }

    .time-picker__control--is-focused {
      border-color: $cWarningRed;
    }
  }

  :local(.selectInput.borderless) {
    border-color: transparent;
    box-shadow: none;

    .time-picker__control {
      border-color: transparent;

      &:hover {
        border-color: $cGray200;
        box-shadow: none;
      }

      &--is-focused {
        border-color: $cGray200;
      }
    }
  }
}
// stylelint-enable no-descending-specificity
