{
  "presets": ["env", "react", "flow"],
  "plugins": [
  	"transform-class-properties",
  	"transform-object-rest-spread",
  	"lodash"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
