{
  "presets":    [
    [ "env", {
      "modules": "commonjs",
      "useBuiltIns": true
    }],
    "react",
    "flow"
  ],
  "plugins": [
  	"transform-class-properties",
  	"transform-object-rest-spread"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
