{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "browser": true,
  },
  "extends": "airbnb",
  "rules": {
    "react/prefer-stateless-function": "off",
    "new-cap": "off",
    "react/no-find-dom-node": "off",
  }
}
