.table {
  display: flex;
  flex-direction: column;
  margin: 0 0 1em 0;
  font-size: 14px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  .row {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    &:nth-child(2n) {
      background: #f7f7f7;
    }
    &.head {
      font-weight: bold;
    }
    .cell {
      padding: 0.6em 1em;
      box-sizing: border-box;
      flex-basis: 33.33333%;
      border-right: 1px solid #eee;
      &:first-child {
        border-left: 1px solid #eee;
      }
    }
  }
}