@import '../../styles/base';

.button {
  @extend %button--base;
  @extend %type--body;
}

.primary {
  @extend %button--primary;
}

.secondary {
  @extend %button--secondary;
}

.tertiary {
  
}

.disabled {
  background: $cButtonDisabledBg;
  color: $cButtonDisabledLabel;
  cursor: not-allowed;
  &:hover {
    background: $cButtonDisabledBg;
    color: $cButtonDisabledLabel;
  }
}

.label {
  
}