html, input {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.book p,
.book h1,
.book h2,
.book h3 {
 color: #252729;
}

.markdown-section hr {
  background-color: #f4f4f1;
  margin: 20px 0 60px 0;
  height: 2px;
  width: 100%;
  float: left;
  clear: both;
}

.page-inner {
  padding: 50px 4% 150px 4%;
  max-width: 840px;
}

.book-body {
  background-color: #fff;
}

.markdown-section img {
  margin: 20px 0;
}
.image-spec {
  border: 1px solid #f4f4f1;
  background-color: #ffffff;
  padding: 3% 6% 2% 6%;
  display: block;
  margin: 20px 0 60px 0;
  width: 100%;
  float: left;
  clear: both;
}
.image-spec.dark {
  background: linear-gradient(rgba(43,52,69,0.94),rgba(43,52,69,0.94));
  border: 1px solid #2b3445;
}
.image-spec.stacked {
  margin-bottom: 40px;
}
.image-spec img {
  max-width: 640px;
}
.image-spec.spec-code,
.image-spec.spec-typo {
  margin-bottom: 0;
  border-bottom: 0;
}
.image-spec.spec-code img {
  max-width: 340px;
}



/* BODY LINKS */

.markdown-section a,
#book-search-results .search-results .has-results .search-results-item a {
  display: inline-block;
  position: relative;
  font-weight: bold;
  text-decoration: none !important;
  color: #5499C3;
}
.markdown-section a:after,
#book-search-results .search-results .has-results .search-results-item a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 1px solid #5499C3;
  transition: 0.5s ease;
}
.markdown-section a:hover:after,
#book-search-results .search-results .has-results .search-results-item a:hover:after {
  width: 100%;
}

.markdown-section a.download-link {
  padding-left: 30px;
  background: url('./icon-download.png') no-repeat 0 center;
  background-size: 14px 14px;
  margin: 10px 0 20px 0;
}



/* TEXT STYLES */

.markdown-section h1 {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 80px;
  letter-spacing: -3px;
  line-height: 90px;
  margin-bottom: 40px;
}

.markdown-section h2,
#book-search-results .search-results .search-results-title {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 15px;
}
#book-search-results .search-results .search-results-title {
  margin-bottom: 50px;
  text-transform: lowercase;
  text-align: left;
  font-weight: bold;
}

.markdown-section h3 {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 8px;
  padding-top: 10px;
}

.markdown-section h4,
#book-search-results .search-results .has-results .search-results-item h3 {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 5px;
  padding-top: 10px;
}

.markdown-section p,
#book-search-results .search-results .has-results .search-results-item p {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 26px;
}
.markdown-section p:first-of-type {
  font-size: 21px;
  line-height: 33px;
}
#book-search-results .search-results .has-results .search-results-item p {
  font-size: 14px;
  line-height: 24px;
}

.markdown-section blockquote {
  padding-left: 20px;
  border-left: 5px solid #f4f4f1;
  margin: 30px 0;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 22px;
}
.markdown-section blockquote em {
  font-size: 13px;
  line-height: 20px;
  display: block;
  font-style: normal;
}

.markdown-section code {
  font-family: 'Roboto Mono', 'Courier', monospace;
  font-weight: 300;
}
.markdown-section pre {
  border: 1px solid #f4f4f1;
  background-color: #fcfcf9;
  padding: 3%;
  margin: 0 0 60px 0;
  width: 100%;
  float: left;
  clear: both;
}

.markdown-section ul {
  list-style: none;
  padding: 0 0 15px 0;
}

.markdown-section li {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 26px;
  padding: 0 0 0 30px;
  margin: 0;
}

.markdown-section li:before {
  content: "";
  display: block;
  position: relative;
  left: -25px;
  top: 16px;
  width: 8px;
  height: 8px;
  transform: rotate(-45deg);
  background-color: #ffd16d;
}
.markdown-section .list-links li:before {
  background-color: #5499C3;
}



/* PREV / NEXT */

.navigation {
  color: #eee;
  display: none;
}
.navigation:hover {
  color: #5499C3;
}



/* TOP LINKS */

.book-header .fa-facebook,
.book-header .fa-twitter,
.book-header .fa-font,
.book-header .toggle-dropdown,
.book-header h1 {
  display: none;
}



/* LEFT NAVI */

.book-summary {
  background-color: #fcfcf9;
  border-right-color: #f4f4f1;
  overflow-y: scroll;
  padding-bottom: 30px;
}
#wework-logo {
  display: block;
  width: 94px;
  height: 20px;
  text-indent: -9999px;
  background-image: url(./wework.png);
  background-size: 94px 20px;
  margin: 30px 16px;
}
::-webkit-scrollbar {
  display: none;
}

#book-search-input {
  border-bottom-color: #f4f4f1;
  padding: 12px 8px;
  margin-bottom: 20px;
}
#book-search-input input {
  font-family: 'Roboto Mono', 'Courier', monospace;
  font-weight: 300;
  font-size: 14px;
  padding-left: 40px !important;
  background: url(./search.png) no-repeat 0 2px !important;
  background-size: 34px 34px !important;
}

.book-summary ul.summary li.divider {
  display: none;
}
.gitbook-link {
  padding-top: 50px !important;
  color: #ddd !important;
  display: none !important;
}
.book-summary ul.summary li {
  font-size: 14px;
  line-height: 24px;
}
.book-summary ul.articles li li {
  font-size: 12px;
  line-height: 16px;
}
.book-summary ul.summary li a {
  font-weight: bold;
  text-decoration: none !important;
  padding: 8px 16px;
  transition: all 0.4s ease;
}
.book-summary ul.articles li a {
  font-weight: normal;
}
.book-summary ul.summary li a:hover {
  color: #5499C3;
}
.book-summary ul.summary li.active>a {
  border-left: 4px solid #ffd16d;
  padding-left: 10px;
  font-weight: bold;
  color: #252729;
}



/* COLOR PALETTE */

.color-palette {
  padding-bottom: 80px;
  width: 100%;
  float: left;
  clear: both;
}
.color-group {
  width: 100%;
  float: left;
  padding: 30px 0 0 0;
}
.color-group h4 {
  margin: 0 0 25px 0;
}
.color-group div {
  width: 100%;
  float: left;
}
.color-group div::before {
  content: "";
  display: block;
  width: 70px;
  height: 70px;
  float: left;
  margin-right: 20px;
}
.color-group div p {
  font-family: 'Roboto Mono', 'Courier', monospace;
  font-weight: 300;
  font-size: 12px !important;
  line-height: 20px !important;
  margin: 5px 0 0 0;
  padding: 0;
}
.color-group div p strong {
  font-weight: 700;
}
.color-group div.base-color {
  background-image: url(./bg.png);
  background-size: 3px 3px;
}
.color-group div.null-color {
  text-decoration: line-through;
}

.color-black80::before { background: #000; }
.color-black70::before { background: #000; }
.color-black60::before { background: #0d0e0e; }
.color-black50::before { background: #252729; }
.color-black40::before { background: #3d4144; }
.color-black30::before { background: #555a5f; }
.color-black20::before { background: #6e7479; }

.color-gray80::before { background: #747476; }
.color-gray70::before { background: #8e8e8f; }
.color-gray60::before { background: #a7a7a9; }
.color-gray50::before { background: #c1c1c2; }
.color-gray40::before { background: #dbdbdb; }
.color-gray30::before { background: #f4f4f5; }
.color-gray20::before { background: #ffffff; }

.color-yellow80::before { background: #d39100; }
.color-yellow70::before { background: #ffb107; }
.color-yellow60::before { background: #ffc13a; }
.color-yellow50::before { background: #ffd16d; }
.color-yellow40::before { background: #ffe1a0; }
.color-yellow30::before { background: #fff1d3; }
.color-yellow20::before { background: #fff; }

.color-blue80::before { background: #21465d; }
.color-blue70::before { background: #2e6383; }
.color-blue60::before { background: #3b7fa9; }
.color-blue50::before { background: #5499c3; }
.color-blue40::before { background: #7ab0d0; }
.color-blue30::before { background: #a0c6dd; }
.color-blue20::before { background: #c5ddeb; }

.color-red80::before { background: #812020; }
.color-red70::before { background: #aa2a2a; }
.color-red60::before { background: #ce3939; }
.color-red50::before { background: #d86262; }
.color-red40::before { background: #e28b8b; }
.color-red30::before { background: #ecb4b4; }
.color-red20::before { background: #f6dddd; }

.color-green80::before { background: #223d3e; }
.color-green70::before { background: #355e5e; }
.color-green60::before { background: #477e7f; }
.color-green50::before { background: #599FA0; }
.color-green40::before { background: #78b3b4; }
.color-green30::before { background: #99c6c6; }
.color-green20::before { background: #bad8d8; }

.color-purple80::before { background: #000; }
.color-purple70::before { background: #040506; }
.color-purple60::before { background: #171c26; }
.color-purple50::before { background: #2b3445; }
.color-purple40::before { background: #3f4c64; }
.color-purple30::before { background: #526384; }
.color-purple20::before { background: #687ca1; }

.color-beige80::before { background: #ac9985; }
.color-beige70::before { background: #c1b2a3; }
.color-beige60::before { background: #d5ccc2; }
.color-beige50::before { background: #eae5e0; }
.color-beige40::before { background: #fffffe; }
.color-beige30::before { background: #fff; }
.color-beige20::before { background: #fff; }

.color-bg5::before { background: #f4f4f1; }
.color-bg3::before { background: #f8f8f5; }
.color-bg1::before { background: #fcfcf9; }



/* FOOTER */

#footer {
  max-width: 840px;
  margin: 0 auto;
  padding: 0 4%;
}
#footer p {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 13px;
  color: #c1c1c2;
  float: left;
  padding-bottom: 30px;
}
#footer p a {
  display: inline-block;
  position: relative;
  text-decoration: none !important;
  color: #c1c1c2;
}
#footer p a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 1px solid #ccc;
  transition: 0.5s ease;
}
#footer p a:hover:after {
  width: 100%;
}

.we {
  width: 40px;
  height: 40px;
  background-image: url(./we.png);
  background-size: 40px 40px;
  text-indent: -9999px;
  float: right;
  display: block;
}



/* TABLE */

.markdown-section table {
  margin: 30px 0 60px 0;
}
.markdown-section table tr {
  text-align: left;
  vertical-align: top;
}
.markdown-section table td,
.markdown-section table th {
  padding: 2% 4%;
  border-color: #f4f4f1;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 30px;
}
.markdown-section table th {
  padding: 30px 4%;
  border-bottom: 2px solid #f4f4f1;
  font-weight: bold;
  border-color: #f4f4f1;
}
.markdown-section table td em {
  font-weight: normal;
}
.markdown-section table td:first-child {
  font-weight: bold;
}
.markdown-section table thead tr,
.markdown-section table tr:nth-child(2n) {
  background-color: #fdfdfd;
}
