@import '../../styles/base';

.wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin-bottom: 20px;
}

.label {
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 5px;
  font-weight: bold;
}