@import '../../../styles/base';

.input {
  @extend %font-family;
  font-size: 14px;
  border: 2px solid $cWhite300;
  padding: 12px;
  outline: none;
  &:hover {
    border-color: $cWhite200;
  }
  &:focus {
    border-color: $cLightBlue;
  }
}