@import '../../../styles/base';

.wrapper {
  background: $cDarkBlue;
  color: $cWhite0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 8px;
  height: 100%;
}

.itemWrapper {
  align-self: flex-start;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  display: flex;
  min-height: 36px;
  padding: $space / 2;
  cursor: pointer;
  align-items: center;
  flex-direction: row;
  padding-left: $space;
  &:hover {
    background: $cDarkBlue + #111;
  }
  &:active {
    background: $cDarkBlue - #050505;
  }
  .icon {
    margin-right: $space / 2;
  }
}