$buttonRadius: 5px;

%button--base {
  font-weight: bold;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  height: 34px;
  padding-left: 1em;
  padding-right: 1em;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $buttonRadius;
}