$buttonRadius: 5px;

%button--base {
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  height: 38px;
  padding-left: 20px;
  padding-right: 20px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $buttonRadius;
  font-size: $typeBase;
  line-height: 0;
  transition: all 0.2s;
  outline: none;
}

%button--primary {
  color: $cWeWorkBlack;
  background-color: $cBrandYellow;
  border: 1px solid darken($cBrandYellow, 15%);
  &:hover {
    background-color: darken($cBrandYellow, 5%);
    border-color: darken($cBrandYellow, 20%);
  }
  &:active {
    background-color: darken($cBrandYellow, 10%);
    border-color: darken($cBrandYellow, 30%);
  }
}

%button--secondary {
  color: $cWeWorkBlack;
  background-color: $cWhite300;
  border: 1px solid darken($cWhite300, 10%);
  &:hover {
    background-color: darken($cWhite300, 5%);
    border-color: darken($cWhite300, 20%)
  }
  &:active {
    background-color: darken($cWhite300, 10%);
    border-color: darken($cWhite300, 30%)
  }
}

%button--tertiary {
  color: $cWeWorkBlack;
  background-color: transparent;
  border: 1px solid $cGray100;
  &:hover {
    background-color: rgba(37, 39, 41, 0.05);
  }
  &:active {
    background-color: rgba(37, 39, 41, 0.1);
  }
}

%button--disabled {
  background: none;
  color: $cGray100;
  border-color: $cGray100;
  cursor: not-allowed;
  opacity: 0.15;
  &:hover {
    border-color: $cGray100;
    background: none;
  }
}