// Whites
$cWhite0: #FFFFFF;
$cWhite100: #FFFEF2;
$cWhite150: #FCF9EB;
$cWhite200: #ECE9D9;
$cWhite300: #D7D4C4;

// Grays
$cGray100: #282829;
$cGray200: #575757;
$cGray300: #C2C2C2;
$cGray400: #E0E0E0;
$cGray700: #FAF9F8;

// Purples
$cPurple100: #2B3445;
$cPurple200: #59698B;

// Special
$cBrandYellow: #FFCF71;
$cLinkBlue: #5499C3;
$cWarningRed: #D86262;

// Interface

$cBorder: $cGray400;
$cBorderDark: $cGray300;
$cBackground: $cGray700;

$cTextPrimary: $cGray100;
$cTextSecondary: $cGray300;

$cButtonDisabledBg: $cGray700;
$cButtonDisabledLabel: $cGray300;