// Whites
$cWhite: #FFFFFF;
$cWhite300: #ECE9D9;

// Blacks
$cWeWorkBlack: #252729;
$cGray100: #AAAAAA;
$cGray200: #C2C2C2;
$cGray300: #E0E0E0;
$cGray400: #EAEBEC;
$cGray600: #FAF9F8;

// Purples
$cPurple100: #2B3445;
$cPurple200: #59698B;

// Special
$cBrandYellow: #FFCF71;
$cLinkBlue: #5499C3;
$cWarningRed: #D86262;

// Interface
$cBorder: $cGray400;
$cBorderDark: $cGray300;
$cBackground: $cGray600;

$cButtonDisabledBg: $cGray600;
$cButtonDisabledLabel: $cGray300;
