%icon--overflow {
  &::before {
    content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCI+PGcgZmlsbD0iIzU3NTc1NyIgZmlsbC1ydWxlPSJldmVub2RkIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMyA3KSI+PGNpcmNsZSBjeD0iMiIgY3k9IjIiIHI9IjIiLz48Y2lyY2xlIGN4PSIyIiBjeT0iOCIgcj0iMiIvPjxjaXJjbGUgY3g9IjIiIGN5PSIxNCIgcj0iMiIvPjwvZz48L3N2Zz4=');
    height: 30px;
    width: 30px;
  }
}
