$modal-width: 440px;
$bounds-wide: 1100px;
$bounds: 840px;

//5, 10, 20, 30, 40

$space5: 5px;
$space10: 10px;
$space20: 20px;
$space30: 30px;
$space40: 40px;

$space-bounds: $space30;

$borderRadius: 2px;

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  height: 0;
}

%layout--bounds {
  @extend .clearfix;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: $bounds;
  padding: 20px 20px; // subtract for .chunk at bottom
  width: 100%;
}

%layout--chunk {
  @extend .clearfix;
  display: block;
  margin-bottom: $space20 !important;
}