$typeBase: 13px;

%fontFamily--body {
  font-family: 'Helvetica Neue', helvetica, arial, 'sans-serif';
  text-rendering: geometricPrecision;
}

%fontFamily--headline {
  font-family: 'Helvetica Neue', helvetica, arial, 'sans-serif';
  text-rendering: geometricPrecision;
}

%type--tiny {
  @extend %fontFamily--body;
  color: $cWeWorkBlack;
  font-size: 11px;
}

%type--giant {
  @extend %fontFamily--body;
  color: $cWeWorkBlack;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: -3px;
}

%type--label {
  @extend %fontFamily--body;
  color: $cWeWorkBlack;
  font-size: 13px;
}

%type--body {
  @extend %fontFamily--body;
  font-size: $typeBase;
  color: $cWeWorkBlack;
  line-height: 20px;
}

%type--headline1 {
  @extend %fontFamily--headline;
  color: $cWeWorkBlack;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: -1px;
}

%type--headline2 {
  @extend %fontFamily--headline;
  font-weight: bold;
  color: $cWeWorkBlack;
  font-size: 30px;
}

%type--headline3 {
  @extend %fontFamily--headline;
  color: $cWeWorkBlack;
  font-size: 18px;
}

%type--headline4 {
  @extend %fontFamily--body;
  font-weight: bold;
  color: $cWeWorkBlack;
  font-size: 24px;
}

%type--headline5 {
  @extend %fontFamily--body;
  font-weight: bold;
  color: $cWeWorkBlack;
  font-size: 18px;
}

%type--headline6 {
  @extend %fontFamily--body;
  font-weight: bold;
  color: $cWeWorkBlack;
  font-size: 16px;
}