$typeBase: 14px;

%fontFamily--body {
  font-family: 'Helvetica Neue', helvetica, arial, 'sans-serif';
}

%fontFamily--headline {
  font-family: 'Helvetica Neue', helvetica, arial, 'sans-serif';
}

%type--tiny {
  @extend %fontFamily--body;
  color: $cTextPrimary;
  font-size: 11px;
}

%type--label {
  @extend %fontFamily--body;
  color: $cTextPrimary;
  font-size: 12px;
}

%type--body {
  @extend %fontFamily--body;
  font-size: $typeBase;
  color: $cTextPrimary;
}

%type--headline1 {
  @extend %fontFamily--headline;
  color: $cTextPrimary;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: -1px;
}

%type--headline2 {
  @extend %fontFamily--headline;
  font-weight: bold;
  color: $cTextPrimary;
  font-size: 24px;
}

%type--headline3 {
  @extend %fontFamily--headline;
  color: $cTextPrimary;
  font-size: 18px;
}

%type--headline4 {
  @extend %fontFamily--body;
  font-weight: bold;
  color: $cTextPrimary;
  font-size: 24px;
}

%type--headline5 {
  @extend %fontFamily--body;
  font-weight: bold;
  color: $cTextPrimary;
  font-size: 18px;
}

%type--headline6 {
  @extend %fontFamily--body;
  font-weight: bold;
  color: $cTextPrimary;
  font-size: 16px;
}