@import '../../styles/base';

.label {
  @extend %type--label;

  display: block;
  font-weight: bold;
  line-height: 20px;

  &[for] {
    cursor: pointer;
  }

  &:not(.labelInline) + * {
    margin-top: 5px;
  }

  &.labelDisabled {
    color: $cGray300;
    cursor: not-allowed;
  }

  &.labelInline {
    display: inline-block;
    margin-right: 20px;
    padding: 10px 0;
  }

  &.labelRequired::after {
    content: ' *';
  }
}
