@import '../../../styles/base';

.table {
  @extend %type--label;
  width: 100%;
  display: table;
  border-top: none;
  margin-bottom: $space;
}

.sticky {
  position: fixed;
  top: 0;
  background: $cBackground;
  z-index: 1;
  opacity: 0;
  table {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.tbody {
  overflow: scroll;
}

.row {
  display: table-row;
  background: #fff;
  border: 1px solid $cBorder;
  &.header {
    background: none;
    border: none;
    border-bottom: 2px solid $cBrandPrimary;
    th {
      padding-bottom: 12px;
    }
  }
  &:hover:not(.header) {
    cursor: pointer;
    background: $cWhite100;
  }
}

.cell {
  padding: 12px;
  display: table-cell;
  text-align: left;
}

.headerCell {
  text-align: left;
  max-width: 100px;
}