@import '../../styles/base';

.inline {
  display: inline-block;
  vertical-align: top;
  margin: 10px 10px 10px 0;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;

  &.isLarge {
    .text {
      font-size: 18px;
    }
    ~ .description {
      font-size: 16px;
    }
  }

  &.fancy {
    .text {
      padding: 12px 15px 12px 0;
      margin: 0;
      font-size: 13px;
      font-weight: bold;
      color: $cBlue70;
      line-height: 16px;
    }
    padding-left: 15px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid $cBlue70;
  }

  &.fancyChecked {
    .text {
      color: $cWhite;
    }
    background-color: $cBlue70;
  }

  &.disabled {
    cursor: not-allowed;
  }
}

.original {
  position: absolute;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
  &:checked ~ .faux {
    border-color: $cGray300;
    &::before {
      background: $cWeWorkBlack;
    }
  }
  &.disabled {
    cursor: not-allowed;
  }
}

.faux {
  width: 14px;
  height: 14px;
  border: 1px solid $cBorder;
  border-radius: 100%;
  background: $cWhite;
  transition: border-color 0.1s ease-out;
  box-sizing: content-box;
  position: relative;
  &::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    width: 8px;
    height: 8px;
    background: none;
    margin-left: 50%;
    left: -4px;
    margin-top: 50%;
    top: -4px;
  }
}

.fancyIcon {
  margin: 0 0 0 -10px;
  padding-right: 1px;
}

.text {
  @extend %type--body;
  margin-left: 10px;
  &.disabled {
    color: $cGray200;
  }
}

.description {
  display: inline-block;
  @extend %fontFamily--body;
  font-size: 11px;
  color: $cGray200;
  line-height: 20px;
  margin-left: 26px;
}
