@import '../../styles/base';

.wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.original {
  position: absolute;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
  &:checked ~ .faux {
    border-color: $cGray300;
    &::before {
      background: $cGray100;
    }
  }
}

.faux {
  width: 14px;
  height: 14px;
  background: none;
  border: 1px solid $cBorder;
  border-radius: 100%;
  background: $cWhite0;
  transition: border-color 0.1s ease-out;
  box-sizing: content-box;
  &::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    width: 8px;
    height: 8px;
    top: 6px;
    left: 4px;
    background: none;
  }
}

.text {
  margin-left: 10px;
  @extend %type--body;
  cursor: pointer;
}

