@import '../styles/base';

:global .react-datepicker__tether-element-attached-top .react-datepicker__triangle, :global .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle, :global .react-datepicker__year-read-view--down-arrow, :global .react-datepicker__month-read-view--down-arrow {
  margin-left: -8px;
  position: absolute; }
  :global .react-datepicker__tether-element-attached-top .react-datepicker__triangle, :global .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle, :global .react-datepicker__year-read-view--down-arrow, :global .react-datepicker__month-read-view--down-arrow, :global .react-datepicker__tether-element-attached-top .react-datepicker__triangle::before, :global .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before, :global .react-datepicker__year-read-view--down-arrow::before, :global .react-datepicker__month-read-view--down-arrow::before {
    box-sizing: content-box;
    position: absolute;
    border: 8px solid transparent;
    height: 0;
    width: 1px; }
  :global .react-datepicker__tether-element-attached-top .react-datepicker__triangle::before, :global .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before, :global .react-datepicker__year-read-view--down-arrow::before, :global .react-datepicker__month-read-view--down-arrow::before {
    content: "";
    z-index: -1;
    border-width: 8px;
    left: -8px;
    border-bottom-color: $cGray400; }

:global .react-datepicker__tether-element-attached-top .react-datepicker__triangle {
  top: 0;
  margin-top: -8px; }
  :global .react-datepicker__tether-element-attached-top .react-datepicker__triangle, :global .react-datepicker__tether-element-attached-top .react-datepicker__triangle::before {
    border-top: none;
    border-bottom-color: $cGray600; }
  :global .react-datepicker__tether-element-attached-top .react-datepicker__triangle::before {
    top: -1px;
    border-bottom-color: $cGray400; }

:global .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle, :global .react-datepicker__year-read-view--down-arrow, :global .react-datepicker__month-read-view--down-arrow {
  bottom: 0;
  margin-bottom: -8px; }
  :global .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle, :global .react-datepicker__year-read-view--down-arrow, :global .react-datepicker__month-read-view--down-arrow, :global .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before, :global .react-datepicker__year-read-view--down-arrow::before, :global .react-datepicker__month-read-view--down-arrow::before {
    border-bottom: none;
    border-top-color: #fff; }
  :global .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before, :global .react-datepicker__year-read-view--down-arrow::before, :global .react-datepicker__month-read-view--down-arrow::before {
    bottom: -1px;
    border-top-color: $cGray400; }

:global .react-datepicker {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  background-color: #fff;
  color: #000;
  border: 1px solid $cGray400;
  border-radius: 0.3rem;
  display: inline-block;
  position: relative;
  box-shadow: 0 3px 5px rgba(0,0,0,0.05);
}

:global .react-datepicker__triangle {
  position: absolute;
  left: 50px; }

:global .react-datepicker__tether-element-attached-bottom.react-datepicker__tether-element {
  margin-top: -20px; }

:global .react-datepicker__header {
  text-align: center;
  background-color: $cGray600;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  padding-top: 8px;
  position: relative; }

:global .react-datepicker__year-dropdown-container--select,
:global .react-datepicker__month-dropdown-container--select,
:global .react-datepicker__year-dropdown-container--scroll,
:global .react-datepicker__month-dropdown-container--scroll {
  display: inline-block;
  margin: 0 2px; }

:global .react-datepicker__current-month {
  margin-top: 0;
  color: #000;
  font-weight: bold;
  font-size: 0.944rem; }

:global .react-datepicker__navigation {
  line-height: 1.7rem;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 10px;
  width: 0;
  border: 0.45rem solid transparent;
  z-index: 1; }
  :global .react-datepicker__navigation--previous {
    left: 10px;
    border-right-color: #ccc; }
    :global .react-datepicker__navigation--previous:hover {
      border-right-color: #b3b2b2; }
  :global .react-datepicker__navigation--next {
    right: 10px;
    border-left-color: #ccc; }
    :global .react-datepicker__navigation--next:hover {
      border-left-color: #b3b2b2; }
  :global .react-datepicker__navigation--years {
    position: relative;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto; }
    :global .react-datepicker__navigation--years-previous {
      top: 4px;
      border-top-color: #ccc; }
      :global .react-datepicker__navigation--years-previous:hover {
        border-top-color: #b3b2b2; }
    :global .react-datepicker__navigation--years-upcoming {
      top: -4px;
      border-bottom-color: #ccc; }
      :global .react-datepicker__navigation--years-upcoming:hover {
        border-bottom-color: #b3b2b2; }

:global .react-datepicker__month-container {
  display: inline;
  float: left; }

:global .react-datepicker__month {
  margin: 0.4rem;
  text-align: center; }

:global .react-datepicker__week-number {
  color: #ccc;
  display: inline-block;
  width: 1.7rem;
  line-height: 1.7rem;
  text-align: center;
  margin: 0.166rem; }

:global .react-datepicker__day-name,
:global .react-datepicker__day {
  color: #000;
  display: inline-block;
  width: 1.7rem;
  line-height: 1.7rem;
  text-align: center;
  margin: 0.166rem; }

:global .react-datepicker__day {
  cursor: pointer; }
  :global .react-datepicker__day:hover {
    border-radius: 0.3rem;
    background-color: #f0f0f0; }
  :global .react-datepicker__day--today {
    font-weight: bold; }
  :global .react-datepicker__day--highlighted {
    border-radius: 0.3rem;
    background-color: #3dcc4a;
    color: #fff; }
    :global .react-datepicker__day--highlighted:hover {
      background-color: #32be3f; }
  :global .react-datepicker__day--selected, :global .react-datepicker__day--in-selecting-range, :global .react-datepicker__day--in-range {
    border-radius: 0.3rem;
    background-color: #216ba5;
    color: #fff; }
    :global .react-datepicker__day--selected:hover, :global .react-datepicker__day--in-selecting-range:hover, :global .react-datepicker__day--in-range:hover {
      background-color: #1d5d90; }
  :global .react-datepicker__day--keyboard-selected {
    border-radius: 0.3rem;
    background-color: #2a87d0;
    color: #fff; }
    :global .react-datepicker__day--keyboard-selected:hover {
      background-color: #1d5d90; }
  :global .react-datepicker__day--in-selecting-range:not(:global .react-datepicker__day--in-range) {
    background-color: rgba(33, 107, 165, 0.5); }
  .react-datepicker__month--selecting-range :global .react-datepicker__day--in-range:not(:global .react-datepicker__day--in-selecting-range) {
    background-color: #f0f0f0;
    color: #000; }
  :global .react-datepicker__day--disabled {
    cursor: default;
    color: #ccc; }
    :global .react-datepicker__day--disabled:hover {
      background-color: transparent; }

:global .react-datepicker__input-container {
  position: relative;
  display: flex;
  @extend %input--wrapper;
  color: $cWeWorkBlack;
  background-color: $cWhite;
  padding: 0 10px;
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $cGray200;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $cGray200;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $cGray200;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $cGray200;
  }
  &:hover {
    border: 1px solid $cGray200;
  }
  &::before {
    content: '';
    width: 30px;
    height: 30px;
    background: url(data:image/svg+xml,%0A%3Csvg%20width%3D%2230px%22%20height%3D%2230px%22%20viewBox%3D%220%200%2030%2030%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%20%20%20%20%3C%21--%20Generator%3A%20Sketch%2043.1%20%2839012%29%20-%20http%3A//www.bohemiancoding.com/sketch%20--%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C/desc%3E%0A%20%20%20%20%3Cdefs%3E%3C/defs%3E%0A%20%20%20%20%3Cg%20id%3D%22Symbols%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22date-input-/-filled%22%20transform%3D%22translate%28-5.000000%2C%20-30.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22icon-/-date%22%20transform%3D%22translate%285.000000%2C%2030.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22path%22%20fill%3D%22%23FFFFFF%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2230%22%20height%3D%2230%22%3E%3C/rect%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22date%22%20transform%3D%22translate%287.000000%2C%207.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle-7%22%20stroke%3D%22%23C2C2C2%22%20stroke-width%3D%222%22%20x%3D%221%22%20y%3D%223%22%20width%3D%2214%22%20height%3D%2212%22%3E%3C/rect%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle-7-Copy%22%20fill%3D%22%23C2C2C2%22%20x%3D%223%22%20y%3D%220%22%20width%3D%223%22%20height%3D%223%22%3E%3C/rect%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle-7-Copy-12%22%20fill%3D%22%23C2C2C2%22%20x%3D%220%22%20y%3D%224%22%20width%3D%2216%22%20height%3D%221%22%3E%3C/rect%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle-7-Copy-4%22%20fill%3D%22%23C2C2C2%22%20x%3D%227%22%20y%3D%227%22%20width%3D%222%22%20height%3D%222%22%3E%3C/rect%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle-7-Copy-5%22%20fill%3D%22%23C2C2C2%22%20x%3D%2210%22%20y%3D%227%22%20width%3D%222%22%20height%3D%222%22%3E%3C/rect%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle-7-Copy-8%22%20fill%3D%22%23C2C2C2%22%20x%3D%224%22%20y%3D%2210%22%20width%3D%222%22%20height%3D%222%22%3E%3C/rect%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle-7-Copy-7%22%20fill%3D%22%23C2C2C2%22%20x%3D%227%22%20y%3D%2210%22%20width%3D%222%22%20height%3D%222%22%3E%3C/rect%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle-7-Copy-6%22%20fill%3D%22%23C2C2C2%22%20x%3D%2210%22%20y%3D%2210%22%20width%3D%222%22%20height%3D%222%22%3E%3C/rect%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle-7-Copy-2%22%20fill%3D%22%23C2C2C2%22%20x%3D%2210%22%20y%3D%220%22%20width%3D%223%22%20height%3D%224%22%3E%3C/rect%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E);
    position: relative;
    top: 4px;
    left: -5px;
  }
  input {
    @extend %fontFamily--body;
    font-size: 13px;
    border: 0;
    outline: none;
    box-sizing: border-box;
    flex-grow: 1;
  }
}

:global .react-datepicker__year-read-view,
:global .react-datepicker__month-read-view {
  border: 1px solid transparent;
  border-radius: 0.3rem; }
  :global .react-datepicker__year-read-view:hover,
  :global .react-datepicker__month-read-view:hover {
    cursor: pointer; }
    :global .react-datepicker__year-read-view:hover .react-datepicker__year-read-view--down-arrow,
    :global .react-datepicker__year-read-view:hover .react-datepicker__month-read-view--down-arrow,
    :global .react-datepicker__month-read-view:hover .react-datepicker__year-read-view--down-arrow,
    :global .react-datepicker__month-read-view:hover .react-datepicker__month-read-view--down-arrow {
      border-top-color: #b3b2b2; }
  :global .react-datepicker__year-read-view--down-arrow,
  :global .react-datepicker__month-read-view--down-arrow {
    border-top-color: #ccc;
    float: right;
    margin-left: 20px;
    top: 8px;
    position: relative;
    border-width: 0.45rem; }

:global .react-datepicker__year-dropdown,
:global .react-datepicker__month-dropdown {
  background-color: #f0f0f0;
  position: absolute;
  width: 50%;
  left: 25%;
  top: 30px;
  text-align: center;
  border-radius: 0.3rem;
  border: 1px solid #aeaeae; }
  :global .react-datepicker__year-dropdown:hover,
  :global .react-datepicker__month-dropdown:hover {
    cursor: pointer; }
  :global .react-datepicker__year-dropdown--scrollable,
  :global .react-datepicker__month-dropdown--scrollable {
    height: 150px;
    overflow-y: scroll; }

:global .react-datepicker__year-option,
:global .react-datepicker__month-option {
  line-height: 20px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  :global .react-datepicker__year-option:first-of-type,
  :global .react-datepicker__month-option:first-of-type {
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem; }
  :global .react-datepicker__year-option:last-of-type,
  :global .react-datepicker__month-option:last-of-type {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem; }
  :global .react-datepicker__year-option:hover,
  :global .react-datepicker__month-option:hover {
    background-color: #ccc; }
    :global .react-datepicker__year-option:hover .react-datepicker__navigation--years-upcoming,
    :global .react-datepicker__month-option:hover .react-datepicker__navigation--years-upcoming {
      border-bottom-color: #b3b2b2; }
    :global .react-datepicker__year-option:hover .react-datepicker__navigation--years-previous,
    :global .react-datepicker__month-option:hover .react-datepicker__navigation--years-previous {
      border-top-color: #b3b2b2; }
  :global .react-datepicker__year-option--selected,
  :global .react-datepicker__month-option--selected {
    position: absolute;
    left: 15px; }

:global .react-datepicker__close-icon {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  height: 0;
  outline: 0;
  padding: 0;
  vertical-align: middle; }
  :global .react-datepicker__close-icon::after {
    background-color: #216ba5;
    border-radius: 50%;
    bottom: 0;
    box-sizing: border-box;
    color: #fff;
    content: "\00d7";
    cursor: pointer;
    font-size: 12px;
    height: 16px;
    width: 16px;
    line-height: 1;
    margin: -8px auto 0;
    padding: 2px;
    position: absolute;
    right: 7px;
    text-align: center;
    top: 50%; }

:global .react-datepicker__today-button {
  background: #f0f0f0;
  border-top: 1px solid #aeaeae;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
  clear: left; }

:global .react-datepicker__tether-element {
  z-index: 2147483647; }

:global .react-datepicker__portal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 2147483647; }
  :global .react-datepicker__portal .react-datepicker__day-name,
  :global .react-datepicker__portal .react-datepicker__day {
    width: 3rem;
    line-height: 3rem; }
  @media (max-width: 400px), (max-height: 550px) {
    :global .react-datepicker__portal .react-datepicker__day-name,
    :global .react-datepicker__portal .react-datepicker__day {
      width: 2rem;
      line-height: 2rem; } }
  :global .react-datepicker__portal .react-datepicker__current-month {
    font-size: 1.44rem; }
  :global .react-datepicker__portal .react-datepicker__navigation {
    border: 0.81rem solid transparent; }
  :global .react-datepicker__portal .react-datepicker__navigation--previous {
    border-right-color: #ccc; }
    :global .react-datepicker__portal .react-datepicker__navigation--previous:hover {
      border-right-color: #b3b2b2; }
  :global .react-datepicker__portal .react-datepicker__navigation--next {
    border-left-color: #ccc; }
    :global .react-datepicker__portal .react-datepicker__navigation--next:hover {
      border-left-color: #b3b2b2; }
