@keyframes rotate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(359deg);
  }
}

@keyframes revRotate{
  0%{
    transform: rotate(359deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

.wrapper {
  position: relative;
  box-sizing: border-box;
  height: 224px;
}

.plasmaBall {
  position: absolute;
  width: 160px;
  height: 160px;
  top: 32px;
  left: 164px;
}

.plasmaLayer {
  position: absolute;
  width: 160px;
  height: 160px;
  border-radius: 80px;
  opacity: 1;
  mix-blend-mode: hard-light;
  &:nth-child(1) {
    animation: rotate 10s infinite;
    top: 0;
    left: 0;
  }
  &:nth-child(2) {
    animation: revRotate 30s infinite;
    top: 5px;
    left: 5px;
  }
  &:nth-child(2) {
    animation: revRotate 40s infinite;
    top: -5px;
    left: -5px;
    width: 150px;
    height: 150px;
    border-radius: 75px;
  }
}

.headerWrapper {
  height: 224px;
  opacity: 0.75;
  mix-blend-mode: multiply;
  margin-left: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-size: 84px;
  font-weight: bold;
  color: #0b1950;
  letter-spacing: -1px;
}

.subHeader {
  font-size: 14px;
  color: rgba(0,0,0,1);
  letter-spacing: 2px;
  font-weight: 500;
  text-align: left;
}