@import '../../../styles/base';

.button {
  @extend %type--body;
  font-size: $typeBase;
  background: $cBrandPrimary;
  color: $cDarkBlue;
  font-weight: bold;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  height: 34px;
  padding-left: 1em;
  padding-right: 1em;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background: $cBrandPrimary - #111;
  }
}

.secondary {
  background: none;
  color: $cLightBlue;
  border: 2px solid $cLightBlue;
  &:hover {
    background: $cLightBlue;
    color: white;
  }
}

.disabled {
  background: $cButtonDisabledBg;
  color: $cButtonDisabledLabel;
  cursor: not-allowed;
  &:hover {
    background: $cButtonDisabledBg;
    color: $cButtonDisabledLabel;
  }
}

.label {
  
}