@import '../../../styles/base';

.button {
  @extend %button--base;
  @extend %type--body;
  font-size: $typeBase;
  background: $cBrandPrimary;
  color: $cDarkBlue;
  &:hover {
    background: $cBrandPrimary - #111;
  }
}

.secondary {
  background: none;
  color: $cLightBlue;
  border: 2px solid $cLightBlue;
  &:hover {
    background: $cLightBlue;
    color: white;
  }
}

.disabled {
  background: $cButtonDisabledBg;
  color: $cButtonDisabledLabel;
  cursor: not-allowed;
  &:hover {
    background: $cButtonDisabledBg;
    color: $cButtonDisabledLabel;
  }
}

.label {
  
}