@import '../../styles/base';

.input {
  @extend %type--body;
  @extend %input;
  height: 100%;

  &:hover {
    border-color: $cWhite300;
  }
  &:focus {
    border-color: $cGray300;
  }
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; /* Removes leftover margin */
  }
  min-width: 60px;
}

.wrapper {
  position: relative;
  height: 40px;
}

.spinner {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 15px;
  border-top-right-radius: $inputRadius;
  border-bottom-right-radius: $inputRadius;
  border-top: 1px solid darken($cWhite300, 15%);
  border-right: 1px solid darken($cWhite300, 15%);
  border-bottom: 1px solid darken($cWhite300, 15%);
  border-left: 1px solid darken($cWhite300, 15%);
  background-color: $cWhite300;
  color: $cWeWorkBlack;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .action {
    flex: 1;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    font-size: 11px;
    text-align: center;
    user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    &:active {
      background-color: darken($cWhite300, 5%);
    }
  }
}
