@import '../../../styles/base';

.wrapper {
  min-height: 100%;
  height: 100%;
}

.fixedWrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 180px;
}

.content {
  box-sizing: border-box;
  min-height: 100%;
  background: $cBackground;
  padding: $space;
  padding-left: 180px + 24;
}