@import '../../../styles/base';

.wrapper {
  overflow-x: scroll;
  -ms-overflow-style: none;
  &::-webkit-scrollbar { width: 0 !important }
}

.content {
  white-space: nowrap;
  width: 100%;
  display: flex;
  flex-direction: row;
}