.description {
  font-size: 14px;
  line-height: 1.5em;
  max-width: 620px;

  em {
    font-style: italic;
  }

  strong {
    font-weight: bold;
  }

  ul {
    list-style: disc;
  }
}

.section {
  margin-bottom: 32px;
}

.componentFrame {
  position: relative;
  background: #f2f2f2;
  padding: 16px;
}