@import '../../styles/base';
$checkboxBorder: 1px solid $cBorder;

.wrapper {
  @extend %type--body;

  box-sizing: border-box;
  position: relative;

  &.wrapperDisabled {
    cursor: not-allowed;
  }

  &.wrapperError .label::before,
  &.wrapperError .label:hover::before {
    border-color: $cWarningRed;
  }
}

.label {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: $typeBase;
  justify-content: stretch;
  line-height: 16px;

  &::before {
    border: 1px solid $cGray300;
    border-radius: $inputRadius;
    content: '';
    margin-right: 0.3em;
    width: 16px;
    height: 16px;
  }

  &:hover::before {
    border-color: $cGray200;
  }
}

.checkbox {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  background: $cWhite;
  transition-duration: 0.1s;
  transition-property: border-color, box-shadow, color;
  transition-timing-function: ease-out;

  &:checked + .label::before {
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMCI+PHBhdGggZmlsbD0iIzI1MjcyOSIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNNCAxMEwwIDUuODMzMzNsMS42LTEuNjY2NjYgMi40IDIuNUwxMC40IDAgMTIgMS42NjY2N3oiLz48L3N2Zz4=') center center no-repeat;
  }

  &:checked:disabled + .label::before {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMCI+PHBhdGggZmlsbD0iI2MyYzJjMiIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNNCAxMEwwIDUuODMzMzNsMS42LTEuNjY2NjYgMi40IDIuNUwxMC40IDAgMTIgMS42NjY2N3oiLz48L3N2Zz4=');
  }

  &:disabled + .label {
    color: $cGray400;

    &::before,
    &:hover::before {
      border-color: $cGray400;
    }
  }

  &:focus + .label::before {
    border-color: $cGray200;
    box-shadow: 0 0 4px 1px $cGray300;
  }
}
