@import '../../styles/base';

.container {
  @extend %type--body;

  position: relative;
  display: flex;
  align-items: center;
}
.inputWrapper {
  width: 100%;
  height: 40px;
}

.input {
  @extend %input;
  @extend %input--wrapper;

  outline: 0;
  padding: 5px 10px;

  &:hover {
    @extend %input--wrapper--hover;
  }

  &:focus {
    @extend %input--wrapper--focus;
  }

  &::placeholder {
    color: $cGray200;
  }

  &:disabled,
  &:disabled:hover {
    @extend %input--wrapper--disabled;

    &::placeholder {
      color: $cGray300;
    }
  }

  &:invalid,
  &:invalid:hover {
    @extend %input--wrapper--error;
  }

  &.inputHasIcon {
    padding-left: 50px;
  }

  &.inputHasClearIcon {
    padding-right: 40px;
  }
}

.searchIconContainer {
  position: absolute;
  display: flex;
  width: 50px;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.iconContainer {
  position: absolute;
}
.inputIconContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  left: 10px;
  width: 30px;
  height: 30px;
}
.clearableIconContainer {
  border: 0;
  background: transparent;
  cursor: pointer;
  line-height: 20px;
  outline: 0;
  padding: 0;
  right: 10px;
  vertical-align: middle;
  width: 20px;
  height: 20px;

  &:hover + .inputWrapper .input,
  &:active + .inputWrapper .input {
    @extend %input--wrapper--hover;
  }
}

.clearableIconContainer {
  .defaultClearIcon {
    color: $cGray300;
    font-size: 18px;
    font-weight: bold;
  }

  &:hover .defaultClearIcon {
    color: $cGray200;
  }

  &:active .defaultClearIcon {
    color: $cGray60;
  }
}

.defaultMenu {
  @extend %dropdown;

  cursor: pointer;
}

.defaultItem {
  @extend %dropdown-item;

  &.defaultItemHighlighted {
    @extend %dropdown-item--focus;
  }
  &.defaultItemEmpty {
    color: $cGray200;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
