@import '../../styles/base';

.toggleWrapper {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: nowrap;
}

.toggle {
  background: $cWhite;
  border: 1px solid $cGray300;
  color: $cWeWorkBlack;
  height: 38px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  line-height: 38px;
  padding: 0 20px;
  @extend %fontFamily--body;

  &.small {
    padding: 5px 20px;
    line-height: 20px;
    font-size: 13px;
    width: 34px;
    height: 19px;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.02);
  }

  &:focus {
    background-color: rgba(0, 0, 0, 0.05);
  }

  &.horizontal {
    border-radius: 0px;
    display: inline-block;
    border-right: 0px;

    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-right: 1px solid $cGray300;
    }

    &.active {
      font-weight:bold;
      background-color: $cBrandYellow;
      border: 1px solid darken($cBrandYellow, 15%);
      z-index: 1;
      position: relative;
      margin-right: -1px;
    }

  }

  &.vertical {
    border-radius: 0px;
    min-width: 200px;
    border-bottom: 0px;

    &:first-child {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    &:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-bottom: 1px solid $cGray300;
    }

    &.active {
      font-weight:bold;
      background-color: $cBrandYellow;
      border: 1px solid darken($cBrandYellow, 15%);
      z-index: 1;
      position: relative;
      margin-bottom: -1px;
    }
  }

  &.disabled {
    background: none;
    color: $cGray200;
    border-color: $cGray300;
    cursor: not-allowed;
    pointer-events: none;
    &:hover {
      border-color: $cGray300;
      background: none;
    }
  }
}
