@import '../../styles/base';

$labelWidth: 10rem;

.formfield {
  display: flex;
  flex-direction: column;

  > * + * {
    margin-top: 5px;
  }

  & + .formfield {
    margin-top: 20px;
  }

  &.formfieldInline {
    align-items: flex-start;
    flex-direction: row;

    > * + * {
      margin-top: 0;
    }

    .label {
      flex: 0 0 $labelWidth;
    }

    .control {
      flex: 1;
    }
  }
}
