@import '../../../styles/base';

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  >div {
    margin-right: $space;
    &:last-child {
      margin-right: 0;
    }
  }

  &.vertical {
    flex-direction: column;
    >div {
      margin-top: $space / 2;
      margin-right: 0;
    }
  }
}