html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1;
  text-rendering: geometricPrecision;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #042539;
  &:visited {
    color: #042539;
  }
}

p {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 28px;
  line-height: 1.2em;
}

h3 {
  color: #D69108;
  font-size: 18px;
  line-height: 1.4em;
}

.fullHeight {
  height: 100%;
  min-height: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 960px;
  height: 100%;
  min-height: 100%;
}

.placeholder {
  min-width: 200px;
  width: 200px;
}

.childContainer {
  flex-grow: 1;
  padding: 32px;
}

.chunk {
  margin-bottom: 8px;
}

.chunk--large {
  margin-bottom: 16px;
}

hr {
  border: 0;
  background: #e7e7e7;
  height: 1px;
  width: 20%;
  margin: 8px 0
}
