@import '../../styles/base';

.wrapper {
  margin-bottom: $space20;
  padding: $space20;
}

.content {
  margin-bottom: 12px;
}

.label {
  margin-bottom: 6px;
}

.rule {
  width: 50px;
  height: 4px;
  background: $cTextPrimary;
}